*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(247, 200, 208);
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.teste{
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(109, 153, 153);
    display: grid;
    width: 50vw;
    height: 80vh;
}

.meio2{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: aqua;
}

form {
	margin: auto;
	display: grid;
	grid-template-columns: 140px 1fr 1fr 1fr;
    width: 600px;
	column-gap: 12px;
	row-gap: 4px;
	
	padding: 0 15px 15px 15px;
	border: 1px solid #10303a40;
	border-radius: 12px;
	background: rgb(83, 221, 255);
}


p{
	grid-column: 2 / 5;
	text-align: center;
	position: relative;
	right: 70px;
}

form label {
	text-align: right;
	padding: 10px;
	align-self: center;
}

form label[for="gen"] {
	justify-self: center;
	padding: 10px 0;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 40px;
	grid-template-rows: 40px;
}

form label[for="lac"] {
	justify-self: center;
	padding: 10px 0;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 40px;
	grid-template-rows: 40px;
}



input[type="radio"]{
    width: 25x;
    height: 25px;
	  place-self: stretch;
	  align-self: center;
}

input[type="checkbox"]{
    grid-column: 2;
}

input{
	grid-column: 2 / 5;
}

input[type="reset"]{
	grid-column: 1;
}

input[type="submit"], input[type="reset"], input[type="color"] {
	font-size: 12pt;
	margin: auto;
	width: 100%;
	height: 48px;
}

#resp{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    font-size: 11pt;
    background: mistyrose;
}

.concerto{
    width: auto;
    height: auto;
    background-color: antiquewhite;
}

.rosto{

    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rosto::before
{
   content: '';
   position: absolute;
   top: 180px;
   width: 150px;
   height: 70px;
   background: purple;
   border-bottom-left-radius: 70px;
   border-bottom-right-radius: 70px;
   transition: 0.5s;
}

.rosto:hover::before
{
    top: 210px;
    width: 150px;
    height: 20px;
    background: palegreen;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



.olhos
{
    position: relative;
    top: -40px;
    display: flex;   
}
.olhos .olho 
{
   position: relative;
   width: 80px;
   height: 80px;
   display: block;
   background: white;
   margin: 0 15px;
   border-radius: 50%;

}

.olhos .olho::before
{
   content: '';
   position: absolute;
   top: 50%;
   left: 25px;
   transform: translate(-50%, -50%);
   width: 40px;
   height: 40px;
   background: peru;
   border-radius: 50%;

}

nav 
{
  border: solid;
  position: sticky;
  top: 10px;
  background: lightgrey;
  
}
footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background: grey;
}
